html{
    font-family: Arial, sans-serif;
}

.header b{
    color: rgb(153, 0, 51);
    border-left: rgb(153, 0, 51) 5px solid;
    padding-left: 5px;
    font-size: x-large;
}

.menu{
    margin: 10px;
    padding: 10px;
}

.box1 img{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.fa-solid{
    color: rgb(153, 0, 51);
}

.box123{
    display: flex;
    padding-bottom: 20px;
}

.box456{
    display: flex;
}
